#buttonClass {
    background: green;
    color: white;
    /* vertical-align: center; */
    padding: 10px;
    font-size: 10px;
}

#gifsButtons {
    width: 100%;
    /* for IE 6 */
}

#searchBox {
    float: right;
}

.gif {
    width: 20%;
    /* float: left; */
    /* for IE 6 */
}

