#buttonClass  {
    background: green;
    color: white;
    /* vertical-align: center; */
    padding: 10px;
    font-size: 10px;

}

#gifsButtons{
    width: 70%;
}
#searchBox{
    float: left;
}
/* .gif {
    float: left;
    padding: 20px;
}

p{
    float: left;
} */